/ABOUT-NLS
/ChangeLog
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/src/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/src/stamp-h1
.DS_Store
/m4/*.m4
Makefile.in
/config.guess
/config.rpath
/config.sub
/po/Makevars.template
Makefile
/config.log
/config.status
/po/POTFILES
/po/*.gmo
/po/*.po~
/po/*.pot
/src/.deps/
/src/config.h

