.DS_Store
.idea
ABOUT-NLS
ChangeLog
autom4te.cache
autoscan.log
autoscan-*.log
aclocal.m4
compile
src/config.h.in
depcomp
install-sh
missing
src/stamp-h1
*.o
.deps
m4/*.m4
Makefile
Makefile.in
config.guess
config.rpath
config.sub
config.log
config.status
configure
configure.scan
po/Makevars.template
/po/POTFILES
/po/*.gmo
/po/*.po~
/po/*.pot
src/macping
src/mactelnet
src/mactelnetd
src/mndp
src/.deps/
src/config.h